.box{
    margin: 4px 7px;
    
}
.textarea{
    margin: 7px 9px 4px 7px;
}
.iconss{
    position: absolute;
   right: 0%;
   top: 2%;
}
.box1{
    position: relative;
    width: 100%;
    margin: 4px 7px;
}