.navbar{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
   align-content: center;
    height: 50px;
    width: 100%;
   
    
  
    
    
}
.logo{
    width: 120px;
    margin-left: 7%;
    
}
.logo img{
   width: 100%;
}

